<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>TFHS Equipment Tracker</title>

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="manifest" href="/static/manifest.json" />
    <link rel="icon" type= "image/x-icon" href="/static/images/favicon.png">
    <script src="/static/js/index.js"></script>
</head>
<body style='margin: 0;'>
    
    <main>
        <div class="side">
            <a href="/login">Profile</a>
            <a href="/">Home</a>
            <a href="/facilities">Facilities</a>
        </div>
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </main>
</body>
</html>